﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div style="margin-top: 50px" class="row">
        <div class="col-md-3 col-xs-12">
            <a class="btn btn-danger" style="width: 100%; height: 90px;margin-bottom: 10px" asp-area="" asp-controller="BicycleModelsController" asp-action="Index">Bicycle</a>
        </div>
      
    </div>
  
</div>